.tm-admin {
    .about-us {
        .demo-box {
            background: $background-blue;
            padding: 10px;
            color: #FFF;
            text-align: center;
        }

        .data-per-year-edit {
            margin-bottom: 3rem;

            .data-per-year-container {
                .input-group-addon {
                    min-width: 175px;
                    text-align: left;
                }
            }
        }


        .data-per-year-demo {
            margin-top: 2rem;
            margin-bottom: 5rem;
        }
    }

}
