<div class="row investments header" autoscroll="true">
    <div>
        <h1 class="page-header">Investments</h1>

        <p class="text-muted">
            Here you can manage the "Investments" section on the home page. You can change translations.
        </p>
    </div>
</div>


<div class="row investments">

    <div class="col-md-12">
        <form role="form" ng-submit="adminInvestments.save()">

            <div class="row">
                <div class="col-md-12">
                    <legend>Title</legend>
                    <tm-multilanguage-input
                        available-languages="adminInvestments.availableLanguages"
                        model="adminInvestments.strings.investments.title"></tm-multilanguage-input>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" ng-repeat="section in adminInvestments.sections">
                    <legend>
                        {{ section.title }}
                        <tm-multilanguage-input
                            available-languages="adminInvestments.availableLanguages"
                            model="adminInvestments.strings.investments[section.subtitle]"></tm-multilanguage-input>
                    </legend>


                    <div class="row">
                        <div class="col-md-4 well" ng-repeat="item in section.formItems">
                            <div class="form-group">
                                <span class="label label-primary">Viewing language: {{ sel[$index] }}</span>
                                <div class="demo-box well">
                                    <img class="center-block" ng-src="/assets/icons/{{item.icon}}.svg"/>
                                    <h3 class="subtitle" ng-bind="adminInvestments.strings.investments[item.icon+'_t'][sel[$index]]"></h3>
                                    <p class="text-center text-blue" ng-bind="adminInvestments.strings.investments[item.icon+'_d'][sel[$index]]"></p>
                                </div>


                                <label class="multilanguage">Title</label>
                                <tm-multilanguage-input
                                    available-languages="adminInvestments.availableLanguages"
                                    model="adminInvestments.strings.investments[item.icon+'_t']" selected="sel[$index]"></tm-multilanguage-input>

                                <label class="multilanguage">Description</label>
                                <tm-multilanguage-input
                                    rows="3"
                                    available-languages="adminInvestments.availableLanguages"
                                    model="adminInvestments.strings.investments[item.icon+'_d']" selected="sel[$index]"></tm-multilanguage-input>
                            </div>
                        </div>

                    </div>

                    <hr>
                </div>
            </div>

            <hr/>

            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    Save
                </button>
            </div>

        </form>
    </div>

</div>
