<div class="row">
    <div class="eurus-admin-news">
        <a class="btn btn-success pull-right" ui-sref="admin.news.create">
            Add News
        </a>
        <button class="btn btn-primary pull-right view-translations" ng-click="adminNews.viewTranslations = !adminNews.viewTranslations">View translations</button>

        <h1 class="page-header">News</h1>

        <div class="row well translations" ng-if="adminNews.viewTranslations">
            <div class="col-md-4">
                <legend>Title</legend>
                <tm-multilanguage-input
                    available-languages="adminNews.availableLanguages"
                    model="adminNews.strings.news.title"></tm-multilanguage-input>
            </div>

            <div class="col-md-4">
                <legend>View article</legend>
                <tm-multilanguage-input
                    available-languages="adminNews.availableLanguages"
                    model="adminNews.strings.news.view_article"></tm-multilanguage-input>
            </div>

            <div class="col-md-4">
                <legend>View news</legend>
                <tm-multilanguage-input
                    available-languages="adminNews.availableLanguages"
                    model="adminNews.strings.news.view_news"></tm-multilanguage-input>
            </div>

            <div class="col-md-12">
                <button class="btn btn-success pull-right save" ng-click="adminNews.saveTranslations()">Save</button>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Language</th>
                    <th>Created By</th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-repeat="item in adminNews.news">
                <td><a ui-sref="admin.news.edit({ newsId: item._id })" ng-bind="item.title"></a></td>
                <td>{{item.language.internationalName}}</td>
                <td>{{item.createdBy.name}}</td>
                <td>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="adminNews.remove(item)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
