.tm-multilanguage-input {
    ul.btn-group {
        padding: 0;
        margin: 0;

        .btn-container {
            display: inline-block;

            .language-pick {
                &.active {
                    background: yellow;
                }

                input {
                    display: none;
                }
            }
        }
    }
}
