<div class="row">
    <div class="eurus-admin-projects">
        <a class="btn btn-success pull-right" ui-sref="admin.projects.create">
            Add project
        </a>
        <button class="btn btn-primary pull-right view-translations" ng-click="adminProjects.viewTranslations = !adminProjects.viewTranslations">View translations</button>

        <h1 class="page-header">Projects</h1>

        <div class="row well translations" ng-if="adminProjects.viewTranslations">
            <div class="col-md-3">
                <legend>Title</legend>
                <tm-multilanguage-input
                    available-languages="adminProjects.availableLanguages"
                    model="adminProjects.strings.projects.title"></tm-multilanguage-input>
            </div>

            <div class="col-md-3">
                <legend>Europe</legend>
                <tm-multilanguage-input
                    available-languages="adminProjects.availableLanguages"
                    model="adminProjects.strings.projects.europe"></tm-multilanguage-input>
            </div>

            <div class="col-md-3">
                <legend>Worldwide</legend>
                <tm-multilanguage-input
                    available-languages="adminProjects.availableLanguages"
                    model="adminProjects.strings.projects.worldwide"></tm-multilanguage-input>
            </div>

            <div class="col-md-3">
                <legend>View projects</legend>
                <tm-multilanguage-input
                    available-languages="adminProjects.availableLanguages"
                    model="adminProjects.strings.projects.view_projects"></tm-multilanguage-input>
            </div>

            <div class="col-md-3">
                <legend>Fase</legend>
                <tm-multilanguage-input
                    available-languages="adminProjects.availableLanguages"
                    model="adminProjects.strings.projects.fase"></tm-multilanguage-input>
            </div>

            <div class="col-md-3">
                <legend>Capacity</legend>
                <tm-multilanguage-input
                    available-languages="adminProjects.availableLanguages"
                    model="adminProjects.strings.projects.capacity"></tm-multilanguage-input>
            </div>

            <div class="col-md-3">
                <legend>Location</legend>
                <tm-multilanguage-input
                    available-languages="adminProjects.availableLanguages"
                    model="adminProjects.strings.projects.location"></tm-multilanguage-input>
            </div>

            <div class="col-md-3">
                <legend>View Project</legend>
                <tm-multilanguage-input
                    available-languages="adminProjects.availableLanguages"
                    model="adminProjects.strings.projects.view_project"></tm-multilanguage-input>
            </div>

            <div class="col-md-12">
                <button class="btn btn-success pull-right save" ng-click="adminProjects.saveTranslations()">Save</button>
            </div>
        </div>


        <table class="table table-striped">
            <tr>
                <th>Title</th>
                <th>Created By</th>
                <th></th>
            </tr>
            <tr ng-repeat="item in adminProjects.projects">
                <td>
                    <a ui-sref="admin.projects.edit({projectId: item._id})">
                        {{item.title}}
                    </a>
                </td>
                <td>{{item.createdBy.name}}</td>
                <td>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="adminProjects.remove(item)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
