<div class="row eurus-admin-projects">
    <div class="col-md-12">

        <a class="btn btn-danger pull-right cancel-form" ui-sref="admin.projects.index">
            Cancel
        </a>
        <h1 class="page-header" ng-if="!adminProjectsForm.project._id">Add a project</h1>
        <h1 class="page-header" ng-if="adminProjectsForm.project._id">Edit project</h1>

        <form class="form-horizontal" ng-submit="adminProjectsForm.save(form)" name="form" no-validate>

            <div class="form-group project-type">
                <div class="type-box" ng-repeat="type in adminProjectsForm.projectTypes" ng-if="type.display">
                    <label>
                        <input type="radio" name="project-type" ng-model="adminProjectsForm.project.options.icon.icon" ng-value="type.icon">
                        <img ng-src="/api/public/icons/{{ type.icon }}.svg">
                        <span class="subtitle" ng-bind="type.title"></span>
                    </label>
                </div>

            </div>

            <div class="form-group" ng-class="{'has-error': (form.$submitted || form.title.$touched) && form.title.$error.required }">
                <label class="col-sm-2 col-lg-1 control-label">
                    Title:
                </label>
                <div class="col-sm-10 col-lg-6">
                    <input name="title" type="text" ng-model="adminProjectsForm.project.title" class="form-control input-sm" required ng-change="adminProjectsForm.suggestSlug()" ng-model-options="{updateOn: 'blur'}" />
                    <div class="text-danger" ng-show="form.$submitted || form.title.$touched">
                      <div ng-show="form.title.$error.required">Title is required.</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 col-lg-1 control-label">
                    Slug:
                </label>
                <div class="col-sm-10 col-lg-6">
                    <input type="text" ng-model="adminProjectsForm.project.slug" class="form-control input-sm" />
                </div>
            </div>


            <legend>Coordinates</legend>

            <div class="form-group">
                <label class="col-sm-2 col-lg-1 control-label">Latitude</label>
                <div class="col-sm-10 col-lg-6">
                    <input type="text" ng-model="adminProjectsForm.project.coords.latitude" required class="form-control input-sm" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 col-lg-1 control-label">Longitude</label>
                <div class="col-sm-10 col-lg-6">
                    <input type="text" ng-model="adminProjectsForm.project.coords.longitude" required class="form-control input-sm" />
                </div>
            </div>

            <legend>Other information</legend>

            <div class="form-group">
                <label class="col-sm-2 col-lg-1 control-label">Visibility</label>
                <div class="col-sm-10 col-lg-6 checkbox">
                    <div>
                        <label>
                            <input type="checkbox" ng-model="adminProjectsForm.project.show"> Display on map
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 col-lg-1 control-label">Phase</label>
                <div class="col-sm-10 col-lg-6">
                    <input type="text" ng-model="adminProjectsForm.project.window.fase" class="form-control input-sm" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 col-lg-1 control-label">Capacity</label>
                <div class="col-sm-10 col-lg-6">
                    <div class="input-group">
                        <div class="input-group-addon">MW</div>
                        <input type="text" ng-model="adminProjectsForm.project.window.capacity" class="form-control input-sm" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 col-lg-1 control-label">City</label>
                <div class="col-sm-10 col-lg-6">
                    <input type="text" ng-model="adminProjectsForm.project.window.city" class="form-control input-sm" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 col-lg-1 control-label">Country</label>
                <div class="col-sm-10 col-lg-6">
                    <input type="text" ng-model="adminProjectsForm.project.window.country" class="form-control input-sm" />
                </div>
            </div>


            <legend>Description</legend>
            <div class="form-group">
                <tm-multilanguage-input
                    available-languages="adminProjectsForm.availableLanguages"
                    model="adminProjectsForm.project.description" rows="10"></tm-multilanguage-input>
            </div>

            <div class="form-group">
                <label class="col-sm-2 col-lg-1 control-label">
                    Image:
                </label>
                <div class="col-sm-10 col-lg-6">
                    <upload-image category="news" ng-model="adminProjectsForm.project.window.thumbnail"></upload-image>
                    <hr/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 col-lg-1"></div>
                <button type="submit" class="btn btn-success">
                    Save
                </button>
            </div>

        </form>
    </div>
</div>
