<div class="row eurus-admin-offices">
    <div class="col-md-12">

        <a class="btn btn-danger pull-right cancel-form" ui-sref="admin.offices.index">
            Cancel
        </a>
        <h1 class="page-header" ng-if="!adminOfficesForm.office._id">Add an office</h1>
        <h1 class="page-header" ng-if="adminOfficesForm.office._id">Edit office</h1>

        <form class="form-horizontal" ng-submit="adminOfficesForm.save(form)" name="form" no-validate>

            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label>Country</label>
                        <input type="text" class="form-control" ng-model="adminOfficesForm.office.window.country">

                        <label>Headline (optional)</label>
                        <tm-multilanguage-input
                            available-languages="adminOfficesForm.availableLanguages"
                            model="adminOfficesForm.office.window.headline"></tm-multilanguage-input>

                        <label>Company name</label>
                        <input type="text" class="form-control" ng-model="adminOfficesForm.office.window.company">

                        <br><br>
                        <legend>Location</legend>
                        <label>Latitude</label>
                        <input type="text" ng-model="adminOfficesForm.office.coords.latitude" class="form-control"
                               placeholder="Latitude"/>

                        <label>Longitude</label>
                        <input type="text" ng-model="adminOfficesForm.office.coords.longitude" class="form-control"
                               placeholder="Longitude"/>


                        <label>Line 1</label>
                        <input type="text" class="form-control" ng-model="adminOfficesForm.office.window.address.line1">

                        <label>Line 2</label>
                        <input type="text" class="form-control" ng-model="adminOfficesForm.office.window.address.line2">

                        <label>City</label>
                        <input type="text" class="form-control" ng-model="adminOfficesForm.office.window.address.location">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="well">
                        <upload-image category="news" ng-model="adminOfficesForm.office.window.thumbnail"></upload-image>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    Save
                </button>
            </div>

        </form>
    </div>

</div>
