.tm-admin {
    .eurus-admin-offices {

        .form-group {
            label {
                margin-top: 1rem;

                &.multilanguage {
                    margin-bottom: 0 !important;
                }
            }
        }
        .cancel-form {
            margin-top: 40px;
        }
    }

}
